/* box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: lightblue;
  background-image: url(./images/clouds.jpg);
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*project styles */

.App {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px 16px 16px;
  /* background-color: #fff; */
}

.about__header {
  color: #fff;
text-shadow: 1px 1px 0 #222;

  text-align: center;
  margin-top: 5%;
  margin-bottom: 1em;
}

.about__paragraph {
  color: #fff;
text-shadow: 1px 1px 0 #222;

  margin-top: 5%;
  margin-bottom: 1em;
  font-size: x-large;
}

.about__sun {
  display: block;
  margin: 0 auto;
}



.card {
  background: rgb(255, 255, 255, 0.8);
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  color: #222;
  /*background-color: #fff;*/
}

.card__name {
  margin-top: 0;
}

.card__extras {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.card__likes {
  cursor: pointer;
}

.NavBar {
  background: rgb(255, 255, 255, 0.8);
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  z-index: 10;
  position: sticky;
  top: 0;
  margin: 0 -16px;
  padding: 16px;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.button {
  position: relative;
  border: 0;
  display: inline-block;
  margin: 0 4px;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  padding: .25em 1em;
  color: #666;
  background: #eee;
  box-shadow: 0 4px 0 #999;
  cursor: pointer;
  transition: all 100ms ease-out;
  outline: 0;
  border-radius: .2em;
  text-decoration: none;
}

.button:hover {
  background: #9f9;
  color: #363;
  box-shadow: 0 4px 0 #696;
}

.button:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #696;
}

.form {

  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 12px 20px;
  /*margin: 0;*/
}

#submit {
  cursor: pointer;
}